* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------- FONTS ---------- */

h1 {
    font-size: 2.8em;
    text-align: center;
    padding-bottom: 15px;
}

p {
    font-family: 'Raleway';
    font-size: 1em;
    width: 80%;
    margin: auto;
}

h2,
h3 {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

h1,
h2,
h3 {
    font-family: 'Oswald';
}

#webdesign h1,
#video h1,
#animation h1,
#ux h1 {
    padding-top: 90px;
}

/*--------- SECTIONS -------*/

section {
    display: none;
}

/*--------- NAVIGATION MENU -------*/

nav {
    overflow: hidden;
    background-color: #05252d;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    padding: 20px 6px;
    position: fixed;
}

nav li {
    display: inline-block;
    margin: 0 5vw 0 0;
    color: #f1f1f1;
}

nav a {
    margin: 0 5vw 0 0;
    font-size: 1.2em;
    letter-spacing: 0.3vw;
    color: #f1f1f1;
    font-size: 0.8em;
    text-align: center;
    display: block;

}

nav a:hover {
    color: #05252d;
}

/* Change the link color to #111 (black) on hover */

nav li a:hover {
    background-color: #f1f1f1;
}


@media all and (max-width: 715px) {
    nav {
        display: none;
    }

}

/*-------- DROPDOWN ---------- */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 20;
    background-color: #05252d;
}

/* Style The Dropdown Button */

.dropbtn {
    background-color: #05252d;
    cursor: pointer;
    height: 45px;
    border: none;
}

.dropdown img {
    width: 25px;
    margin-left: 10.5px;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #05252d;
}

/* Links inside the dropdown */

.dropdown-content a {
    display: block;
    color: #979c9d;
    padding: 10px;
    width: 89px;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    background-color: #05252d;
    z-index: 20;
}

.dropdown ul {
    text-align: left;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 715px) {
    nav ul {
        display: none;
    }
    nav select {
        display: inline-block;
    }
}


@media all and (min-width: 715px) {
    .dropdown {
        display: none;
    }
}


/*-------- FORSIDE ---------- */

/*-------- logo ---------- */

.navn {
    width: 100;
    height: auto;
    text-align: center;
    color: #05252d;
}

.logo img {
    width: 33%;
    margin: 0 auto;
    display: block;
    padding: 7px;
    padding-top: 90px;
}

/*-------- navn ---------- */

.navn_forside {
    width: 100%;
    height: auto;
    text-align: center;
    color: #05252d;
    margin-bottom: 2%;
}

/*-------- CV -------*/

.navn {
    text-align: center;
}

#cv {
    text-align: center;

}

.ommig {
    width:
}

.tidslinje img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

/*-------- WEBDESIGN ---------- */

.dada_overskrift2,
.dada8 {
    text-align: center;
}

.dada1 {
    width: 100%;
}

.dada1 p,
.dada2 p,
.dada3 p,
.dada4 p,
.dada5 p,
.dada6 p,
.dada7 p,
.dada8 p,
.dada1 h3,
.dada2 h3,
.dada3 h3,
.dada4 h3,
.dada5 h3,
.dada6 h3,
.dada7 h3,
.dada8 h3 {
    width: 80%;
    margin: auto;
}

.dada1 {
    padding-bottom: 15px;
}

/*----- moodbaords ------- */

.webdesign_moodboard img {
    width: 75%;
    display: block;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    padding: 15px;

}

.webdesign_moodboard {
    display: flex;
    flex-wrap: wrap;
}

.mood1,
.mood2 {
    flex-grow: 1;
    flex-basis: 500px;
}

/*----- splash ------- */

.dadaisme_splash_billede img {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

/*----- ikon ------- */

.dadaisme_ikon_billede img {
    width: 20%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

/*----- style tile ------- */

.dadaisme_styletile img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

/*----- stilartsite ------- */

.dadaisme_mac img {
    width: 40%;
    height: auto;
    margin: 10;
    padding: 20px;
    transition: all 0.2s ease;
}

.dadaisme_mac img:hover {
    transform: scale(1.1);
}

/*--------- VIDEO ---------*/

/*----- redesign ------- */

.ccb_video {
    text-align: center;
    padding: 20px;
}


@media all and (max-width: 624px) {
    .ccb_video iframe {
        width: 100%;
        height: 58.2vw;
        padding: 20px;
    }
}

.ccb_mac img {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    transition: all 0.2s ease;
}

.ccb_mac img:hover {
    transform: scale(1.1);
}

/*----- cph:dox ------- */

.cphdox_video {
    text-align: center;
    padding: 20px;
}

.cph_dox img {
    width: 25%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.cph_dox_dokumentation {
    padding-bottom: 20px;
}

/*----- how to be a ladies man ------- */

.htbalm {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 20px;
}

/*------- ANIMATION -------*/

.animation_dokumentation,
.animation_scenografi {
    padding-bottom: 20px;
}

.animation_skitser img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.fodboldpigen_mac img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    transition: all 0.2s ease;
}

.fodboldpigen_mac img:hover {
    transform: scale(1.1);
}

/*----- sex og samf ------- */

.sex_samfund_mac img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    transition: all 0.2s ease;
}

.sex_samfund_mac img:hover {
    transform: scale(1.1);
}

.sex_samfund_dokumentation {
    padding: 20px;
}

/*----------- UX -----------*/

/*----- kea intern ------- */

.kea_intern_forside img {
    width: 20%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 10px;
    transition: all 0.2s ease;
}

.kea_intern_forside img:hover {
    transform: scale(1.1);
}

/*----- republikken ------- */

.republikken_forside img {
    width: 20%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 10px;
    transition: all 0.2s ease;
}

.republikken_forside img:hover {
    transform: scale(1.1);
}

.republikken_presentation {
    padding-bottom: 15px;
}

/*---------FOOTER---------*/

footer,
footer p {
    top: 0px;
    padding: 5px;
    width: 100%;
    color: #f1f1f1;
    background-color: #05252d;
    text-align: center;
    font-family: 'Raleway';
}

.facebook img {
    width: 4vw;
    height: auto;
    margin: 0;
    padding: 0px;
}

.instagram img {
    width: 6vw;
    height: auto;
    margin: 0;
    padding: 0px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content_box {
    height: 50px;
}

.facebook {
    width: 35%;
    flex-grow: 1;
    flex-basis: 100px;
    text-align: right;
    margin-right: 10px;
}

.instagram {
    width: 35%;
    flex-grow: 1;
    flex-basis: 100px;
    text-align: left;
    margin-left: 10px;
}

.navn_footer {
    width: 100%;
}

/*---------MEDIA QUERIS---------*/

/*-------- forside ---------- */

@media all and (max-width: 715px) {
    .logo img {
        width: 80vw;
        height: auto;
        padding: 10px;
        margin-top: 67px;
    }
}

@media all and (max-width: 715px) {
    .navn_forside {
        margin-bottom: 21%;
    }
}

@media all and (max-width: 715px) {
    .tidslinje img {
        width: 105%;
        height: auto;
        display: block;
        padding: 5px;
    }
}

/*-------- webdesign ---------- */

@media all and (max-width: 715px) {
    .dadaisme_splash_billede img,
    .dadaisme_styletile img {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media all and (max-width: 715px) {
    .dadaisme_ikon_billede img {
        width: 50%;
        height: auto;
        display: block;
    }
}

@media all and (max-width: 715px) {
    .dadaisme_mac img {
        width: 80%;
        height: auto;
    }
}

/*--------- video ---------*/

@media all and (max-width: 715px) {
    .ccb_mac img {
        width: 80%;
        height: auto;
    }
}

@media all and (max-width: 624px) {
    .cphdox_video iframe,
    .htbalm iframe {
        width: 100%;
        height: 58.2vw;
        padding: 20px;
    }
}

/*------- animation -------*/

@media all and (max-width: 715px) {
    .animation_skitser img {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media all and (max-width: 715px) {
    .fodboldpigen_mac img,
    .sex_samfund_mac img {
        width: 80%;
        height: auto;
    }
}

@media all and (max-width: 715px) {
    .kea_intern_forside img,
    .republikken_forside img {
        width: 35%;
        height: auto;
    }
}

/*------- footer -------*/

@media all and (max-width: 715px) {
    .facebook img {
        width: 7vw;
        height: auto;
        margin: 0;
        padding: 0px;
    }
}

@media all and (max-width: 715px) {
    .instagram img {
        width: 11vw;
        height: auto;
        margin: 0;
        padding: 0px;
    }
}
