* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------- MENU ---------- */

header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #05252d;

}

header li a {
    display: block;
    text-align: center;
    margin: 0 5vw 0 0;
    color: #f1f1f1;
    font-size: 0.8em;
}

nav {
    padding: 20px 6px;

}

/* Change the link color to #111 (black) on hover */

header li a:hover {
    background-color: #f1f1f1;
}

/*-------- DROPDOWN ---------- */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* Style The Dropdown Button */

.dropbtn {
    background-color: #05252d;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
    border: none;

}

.dropdown img {
    color: #F1F1f1;
    background-color: #05252d;
    width: 25px;
    margin-left: 10.5px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    height: 45px;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    position: absolute;
    min-width: 89px;
    z-index: 1;
    background-color: #05252d;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #05252d;
}

/* Links inside the dropdown */

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #979c9d;
    padding: 10px;
    width: 89px;
    display: block;
    font-family: 'oswald';
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/*--------- NAVIGATION MENU -------*/

nav {
    background-color: #05252d;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0vw 2vw 0vw 2vw;
}

nav a {
    margin: 1vw 5vw 1vw 5vw;
    font-size: 1.2em;
    letter-spacing: 0.3vw;
}

nav a:hover {
    color: #05252d;
}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    background-color: #05252d;
}

.dropdown ul {
    text-align: left;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 200px) {
    nav ul {
        display: none;
    }
    nav select {
        display: inline-block;
    }
}

@media all and (min-width: 1200px) {
    .dropdown {
        display: none;
    }
}


/*-------- ME ---------- */

.navn {
    width: 100;
    height: auto;
    text-align: center;
    color: #05252d;
    padding: 1%;
}

.logo img {
    width: 30%;
    margin: 0 auto;
    display: block;
    padding: 20px;
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em;
    border-top-left-radius: 20em;
    border-bottom-left-radius: 20em;
}

#cv {
    text-align: center;
}

/*-------- HTML ---------- */

.html_moodboard img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

/*-------- PORTFOLIO ---------- */

.column {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    width: 100%;
    margin: 1.5vw;
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
}


.tema1 img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 5px solid;
    border-color: #9eb1b8;
}

.tema2 img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 5px solid;
    border-color: #9eb1b8;
}

.tema3 img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 5px solid;
    border-color: #9eb1b8;
}

.tema4 img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px;
    border: 5px solid;
    border-color: #9eb1b8;
}


/*---------FOOTER---------*/

footer {
    top: 0px;
    padding: 15px;
    width: 100%;
    color: #f1f1f1;
    background-color: #05252d;
    text-align: center;
    font-family: 'Raleway';
}

.facebook img {
    width: 8%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

.instagram img {
    width: 10%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

.loger {
    display: flex;
    flex-wrap: wrap;
}

.facebook {
    flex-grow: 1;
    flex-basis: 10px;
}

.instagram {
    flex-grow: 1;
    flex-basis: 10px;
}
